matplotlib==3.7.1
numpy==1.23.2
optuna==3.1.1
pandas==2.0.1
rpy2==3.5.12
scikit_learn==1.2.2
seaborn==0.12.2
shap==0.41.0
statsmodels==0.14.0
tqdm==4.65.0
xgboost==1.7.5
neptune==1.6.1
neptune-optuna
openpyxl==3.1.2
numba==0.56.4
